<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="WetBoewGroup">
      <section name="WetBoew" type="GCWebUsabilityTheme.WetBoewConfiguration"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <WetBoewGroup>
    <WetBoew defaultLanguage="en" showBreadcrumbTrail="true" showSearch="false" showSectionMenu="false" showSiteMenu="true">
      <languages>
        <clear/>
        <add name="English" abbr="en" textDirection="ltr" homePage="~/default.aspx" licencePage="~/licence-en.aspx" siteName="IJP Reporting"/>
        <add name="Français" abbr="fr" textDirection="ltr" homePage="~/default.aspx" licencePage="~/licence-fr.aspx" siteName="IJP Reporting"/>
      </languages>
    </WetBoew>
  </WetBoewGroup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=MOVDVDB1;Initial Catalog=BD_IJPReporting;User ID=brqnet;Password=brqnet_qronet;" providerName="System.Data.SqlClient"/>
    <add name="BD_IJPReportingEntities" connectionString="metadata=res://*/Models.IJPModel.csdl|res://*/Models.IJPModel.ssdl|res://*/Models.IJPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MOVDVDB1;initial catalog=BD_IJPReporting;user id=brqnet;password=brqnet_qronet;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <authentication mode="None"/>
    <compilation debug="true" batch="false" targetFramework="4.8">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <!--<httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>-->
    <httpRuntime targetFramework="4.5.1" maxRequestLength="2097151"/>
    <siteMap defaultProvider="ENSiteMapProvider" enabled="true">
      <providers>
        <add name="AdminSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/GCWebUsabilityTheme/SiteMaps/Admin.sitemap"/>
        <add name="ENSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/GCWebUsabilityTheme/SiteMaps/Web.sitemap" securityTrimmingEnabled="true"/>
        <add name="FRSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/GCWebUsabilityTheme/SiteMaps/Web.fr.sitemap" securityTrimmingEnabled="true"/>
        <add name="ENHeaderSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/GCWebUsabilityTheme/SiteMaps/Header.sitemap" securityTrimmingEnabled="true"/>
        <add name="FRHeaderSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/GCWebUsabilityTheme/SiteMaps/Header.fr.sitemap" securityTrimmingEnabled="true"/>
        <add name="ENFooterSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/GCWebUsabilityTheme/SiteMaps/Footer.sitemap" securityTrimmingEnabled="true"/>
        <add name="FRFooterSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/GCWebUsabilityTheme/SiteMaps/Footer.fr.sitemap" securityTrimmingEnabled="true"/>
        <add name="ENFooter2SiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/GCWebUsabilityTheme/SiteMaps/Footer2.sitemap" securityTrimmingEnabled="true"/>
        <add name="FRFooter2SiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/GCWebUsabilityTheme/SiteMaps/Footer2.fr.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
        <add namespace="Microsoft.AspNet.Identity"/>
        <add namespace="Microsoft.AspNet.Identity.Owin"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        <add tagPrefix="wet" assembly="WetControls" namespace="WetControls.Controls"/>
        <add tagPrefix="bootstrap" assembly="BootstrapControls" namespace="BootstrapControls.Controls"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear/>
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear/>
      </providers>
    </profile>
    <roleManager>
      <!--
          ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
    <customErrors mode="Off"/>
  </system.web>
  <location path="Admin/ConfigRoles.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin, SuperAdmin"/>
        <deny users="?" roles="Client"/>
      </authorization>
    </system.web>
  </location>
  <location path="ClientReferralReporting.aspx">
    <system.web>
      <authorization>
        <allow roles="Agent, Admin, SuperAdmin"/>
        <deny users="?" roles="Client"/>
      </authorization>
    </system.web>
  </location>
  <location path="AddReferral.aspx">
    <system.web>
      <authorization>
        <allow roles="IJP Read All, Admin, IJP Regional Coordinator"/>
        <deny users="?" roles="Client"/>
      </authorization>
    </system.web>
  </location>
  <location path="Management">
    <system.web>
      <authorization>
        <allow roles="SuperAdmin"/>
        <deny users="?" roles="Client"/>
      </authorization>
    </system.web>
  </location>
  <location path="referral.aspx">
    <system.web>
      <authorization>
        <allow roles="Agent, Admin, SuperAdmin"/>
        <deny users="?" roles="Client"/>
      </authorization>
    </system.web>
  </location>
  <location path="myforms.aspx">
    <system.web>
      <authorization>
        <allow roles="Agent, Admin, SuperAdmin"/>
        <deny users="?" roles="Client"/>
      </authorization>
    </system.web>
  </location>
  <location path="UploadForm.aspx">
    <system.web>
      <authorization>
        <allow roles="Agent, Admin, SuperAdmin"/>
        <deny users="?" roles="Client"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <add key="owin:AppStartup" value="IJPReporting.Startup"/>
    <add key="emailServiceSetting" value="smtp.justice.gc.ca"/>
    <add key="emailServiceSentFrom" value="ijpreporting@justice.gc.ca"/>
    <add key="emailServicePort" value="25"/>
    <add key="emailServiceEnableSsl" value="false"/>
    <add key="emailServiceUserName" value=""/>
    <add key="emailServicePassword" value=""/>
    <add key="rootProjet" value="IJPReporting"/>
    <add key="SiteNameFR" value="IJP Reporting"/>
    <add key="SiteNameEN" value="IJP Reporting"/>
  </appSettings>
</configuration>